.about-wrapper{
    margin: 2rem 5rem;
    background-color: #e1e1d0;
}

.about {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header{
    text-align: center;
}

.picture{
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em;
}

.details{
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em;
}