.about-wrapper{
    margin: 0rem 7rem;
    
}

.about {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #777777;
}

.header{
    text-align: center;
}

.picture{
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em;
}

.details{
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em;
}

.section-header{
    margin: 0.25rem;
}

.block-text{
    margin: 0.25rem;
    font-size: 16px;
    float: left;
}