.coop-tile{
    border-radius: 2px;
    background-color: #c9c7c7;
    width: 60%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.tile-header{
  margin: 0.5rem;
  float: left;
}

.tile-text{
  margin: 0.2rem 0.5rem;
  font-size: 14px;
  float: left;
}

.expand{
  float: right;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #c9c7c7;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.expand:hover{
  background-color: #777777;
}

.list-group{
  margin: 0;
  font-size: 14px;
}