.project-tile{
    border-radius: 2px;
    background-color: #777777;
    width: 60%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

button{
  
}

.tile-header{
    margin: 0.5rem;
    float: left;
}
.expand{
  float: right;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #777777;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.expand:hover{
  background-color: #6b6262;
}